#editable-message-text {
    box-shadow: 0 0 0 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    border: 1px solid #eee;
}

#editable-message-text::before {
    /*content: attr(placeholder);*/
    color: #8e9396;
    pointer-events: none;
    transform: translateX(20px);
    will-change: transform;
    opacity: 0;
    /*position: absolute;*/
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

#editable-message-text:empty::before {
    content: attr(placeholder);
    transform: translateX(0px);
    opacity: 0.75;
}

#editable-message-text:empty:active::before,
#editable-message-text:empty:focus::before {
    opacity: 0.75;
}

#editable-message-text:focus {
    /* border: 0; */
    outline: none;
    box-shadow: 0 0 0 0;
}

.scrollbars-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbars-hidden::-webkit-scrollbar {
    display: none;
}

.text-entity-link {
    color: skyblue !important;
    cursor: default;
    text-decoration: none;
}
.text-entity-link:hover,.text-entity-link:active,.text-entity-link:visited {
    text-decoration: underline !important;
}