.MentionTooltip > div {
    border-top: 1px solid pink;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background-color: antiquewhite;
}
.active {
    background-color: skyblue !important;
}